[submodule "thirdparty/tamzen-font"]
	path = thirdparty/tamzen-font
	url = https://github.com/sunaku/tamzen-font.git
[submodule "thirdparty/classic-mac-fonts"]
	path = thirdparty/classic-mac-fonts
	url = https://github.com/jcs/classic-mac-fonts.git
[submodule "thirdparty/chicago-bdf"]
	path = thirdparty/chicago-bdf
	url = https://github.com/danfe/fonts.git
[submodule "vendor/ocaml-gif"]
	path = vendor/ocaml-gif
	url = https://github.com/mdales/ocaml-gif
[submodule "vendor/claudius"]
	path = vendor/claudius
	url = https://github.com/mdales/claudius
[submodule "vendor/bdfparser"]
	path = vendor/bdfparser
	url = https://github.com/mdales/bdfparser
